.layout h1 {
    text-align: center;
}
.layout a:-webkit-any-link {
    text-decoration: none;
}
.card {
    display: flex;
    margin: auto;
}
.card-item {
    flex: 1;
    width: 400px;
    height: 200px;
    margin: 20px;
    text-align: center;
}
.card-text {
    line-height: 200px;
}
body {
    background: #e0e0e0 !important;
}
.container {
    margin: auto;
    background: #fff;
    width: 900px;

    margin: 10px auto;
}

.graphin-studio {
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.graphin-studio-header {
    height: 48px;
    line-height: 48px;
    padding-left: 68px;
    position: relative;
    background: #ddd;

    z-index: 2;
    background: #fff;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.1);
}

.graphin-studio-side {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 48px;
    transition: left 0.3s;
    background: #fff;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.graphin-studio-main {
    position: absolute;
    left: 48px;
    top: 48px;
    right: 0px;
    bottom: 36px;
    background: #fafafa;
    transition: left 0.3s;
}

.graphin-studio-footer {
    position: absolute;

    bottom: 0px;
    left: 48px;

    right: 0px;
    height: 36px;
    line-height: 36px;
    padding-left: 48px;

    transition: left 0.3s;
    background: #ffffff;
    border: 1px solid #fafafa;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.1);
}

.graphin-studio-toolbar {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  padding: 24px 0px;
  display: inline-block;
  width: 48px;
  list-style: none;
  background: #ffffff;
}
.graphin-studio-toolbar .ant-btn {
  border: none;
  background-color: #fff;
  width: 40px;
  height: 30px;
  margin: 4px;
  box-shadow: none;
}
.graphin-studio-toolbar .ant-divider-horizontal {
  width: 60%;
  min-width: 60%;
  margin: 4px 20%;
}

.operator-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.enhanced_checkbox_wrapper {
  width: 100%;
  position: relative;
}
.enhanced_checkbox_wrapper :global .ant-checkbox-group {
  width: 100%;
}
.enhanced_checkbox_wrapper .all_select {
  width: 120px;
  position: absolute;
}
.enhanced_checkbox_wrapper .single_checkbox {
  min-width: 120px;
  display: inline-block;
  margin-bottom: 16px;
}

.panel :global .ant-collapse-item {
  border-bottom: 4px solid #f0f2f5;
}
.panel :global .ant-collapse-item .ant-collapse-header {
  padding: 21px 8px;
}
.panel :global .ant-collapse-item .ant-collapse-header .anticon {
  right: 22px;
  left: initial;
}
.panel :global .ant-collapse-item .ant-collapse-content-box {
  padding: 0 8px;
}
.panel :global .ant-collapse-item:last-child {
  border: 0;
}
.panel .name {
  display: flex;
  align-items: center;
  font-family: PingFangSC-Medium;
  color: rgba(0, 0, 0, 0.85);
  line-height: 22px;
}
.panel .name .mark {
  display: inline-block;
  width: 4px;
  height: 16px;
  background: #1890ff;
  margin-right: 8px;
}

.item .item-title {
  font-size: 14;
  font-weight: 700;
  padding: 8px;
}
.item .item-children {
  padding: 8px;
}

.property {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40px;
  line-height: 40px;
}
.property .title {
  margin-right: 14px;
  color: rgba(0, 0, 0, 0.85);
}
.property .info {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapper .search-panel.close {
  transform: scale3d(0, 0, 0);
  transition: all 0.2s ease;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
.wrapper .search-panel.blank {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.wrapper .search-panel {
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  padding-top: 6px;
  max-height: 426px;
  position: absolute;
  transition: all 0.2s ease;
  transform: scale3d(1, 1, 1);
  opacity: 1;
  width: 100%;
  z-index: 9;
}
.wrapper .search-panel.search-direction-right {
  transform-origin: left top;
}
.wrapper .search-panel.search-direction-left {
  transform-origin: right top;
}
.wrapper .search-panel .search-panel-ul {
  margin: 0;
  padding: 0px 0px 6px 0px;
  overflow-y: auto;
  max-height: 337px;
  display: block;
}
.wrapper .search-panel li {
  padding: 6px 42px;
  display: block;
  list-style: none;
  color: #212121;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
.wrapper .search-panel li:hover {
  background: #f5f5f5;
  cursor: pointer;
}
.wrapper .search-panel .li-recent {
  color: #a3b1bf;
  padding: 6px 12px;
}
.wrapper .search-panel .li-recent .recent-icon {
  display: inline-block;
  margin-right: 16px;
  color: #697b8c;
  font-size: 14px;
}
.wrapper .search-panel .search-blank {
  width: 70px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.25);
}
.wrapper .search-panel .li-footer {
  padding: 6px 14px;
  font-size: 14px;
  color: #a3b1bf;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  cursor: pointer;
}
.wrapper .search-panel .li-footer .reset-icon {
  display: inline-block;
  margin-right: 14px;
  color: #697b8c;
  font-size: 14px;
}
.wrapper .search-panel .li-footer .reset-button:hover {
  font-weight: 700;
  transition: font-weight 0.3s ease;
}

.tree_selector_wrapper {
  width: inherit;
  min-height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
}
.tree_selector_wrapper .tree_wrapper {
  width: 150px;
  margin: 5px 0;
}
.tree_selector_wrapper .tree_wrapper :global .ant-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tree_selector_wrapper .tree_wrapper :global .ant-tree li span.ant-tree-switcher {
  width: 3px;
}
.tree_selector_wrapper .line {
  width: 1px;
  height: inherit;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.tree_selector_wrapper .checkbox_wrapper {
  flex: 1;
  margin: 15px 24px;
}

.searchBar-container {
  position: absolute;
  top: 48px;
  width: 100%;
  z-index: 2;
}
.searchBar-container.search-below-toolbar {
  top: 36px;
}
.searchBar-container .content {
  font-weight: 700;
  color: #b8b8b8;
  margin-left: 12px;
}
.searchBar-container {
  width: calc(100% - 18px);
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: flex;
  align-items: center;
  z-index: 9;
}
.searchBar-container.full {
  height: 50px;
  padding: 9px 0;
  transition: all 0.2s ease;
}
.searchBar-container .ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 40px;
  border: 0;
}
.searchBar-container .ant-input:focus {
  box-shadow: inherit;
  -webkit-box-shadow: inherit;
}
.searchBar-container .content {
  font-weight: 700;
  color: #b8b8b8;
  margin-left: 12px;
}

.error_msg {
  color: #f5222d;
  padding: 0 8px;
}

.diffuse_confirm_wrapper {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 36px;
  padding: 0px 10px;
}
.diffuse_confirm_wrapper .diffuse_confirm_button {
  width: 100%;
}

.ant-drawer .ant-drawer-content-wrapper {
  height: 100%;
  overflow: hidden;
}
.ant-drawer-content .ant-drawer-header {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 48px;
  line-height: 48px;
  display: block;
}
.ant-drawer-content .ant-drawer-header .ant-drawer-close {
  height: 48px;
  line-height: 48px;
}
.ant-drawer-content .ant-drawer-body {
  padding: 0;
  position: absolute;
  overflow: scroll;
  top: 48px;
  bottom: 36px;
  right: 0px;
  left: 0px;
  height: auto;
}
.ilink-graph-embeded .ant-drawer .ant-drawer-content-wrapper {
  height: 100%;
  top: 0;
}
.ant-drawer-body {
  padding: 0;
  height: 100%;
  overflow: auto;
}
.ant-drawer-header {
  padding: 12px 24px;
}
.ant-drawer-title {
  line-height: 24px;
}

.graphin-studio-save .save-img {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  background: #fafafa;
}
.graphin-studio-save .save-desc {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.graphin-studio-count {
  z-index: 2;
  position: fixed;
  right: 24px;
  bottom: 52px;
  text-align: justify;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;
}
.graphin-studio-count .count-line {
  width: 1px;
  height: 15px;
  line-height: 20px;
  color: #d8d8d8;
  margin: 0px 10px;
}

